/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* My shit below */

body {
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

.cont {
  margin: 0 auto;
  max-width: 30rem;
}

.top-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 50%;
}

.count-cont {
  text-align: center;
  margin-bottom: 2rem;
}

.increment-cont {
  text-align: center;
}

/* Buttons */

button {
  font-size: 1.5rem;
  cursor: pointer;
  touch-action: manipulation;
}

button:active {
  transform: scale(0.95);
}

.subtract {
  background: #f54131;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 0.25rem;
}

.subtract:hover {
  background: #c73629;
}

.reset {
  border: none;
  background: white;
  border-radius: 8px;
  padding: 0.25rem;
}

.reset:hover {
  background: #f3f3f3;
}

.reset:active {
  background: lightgray;
}

.increment {
  font-size: 2.5rem;
  padding: 0.5rem 4rem;
  background: #4e7dd4;
  color: white;
  border-radius: 8px;
}

.increment:hover {
  background: #3e63a7;
}

/* Count */

.count-cont {
  font-size: 8rem;
}