/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* My shit below */
body {
  overflow: hidden;
  background: darkgray;
}

.container {
  margin: 0 auto;
  max-width: 320px;
  font-family: monospace, sans-serif;
  margin-top: 8rem;
  /* outline: 2px solid red; */
}

.number-cont {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 4rem;
  color: limegreen;
  /* outline: 2px solid blue; */
}

.number {
  outline: 2px solid green;
  padding: 2rem 2rem;
  background: #121212;
  border-radius: 8px;
}

.digit {
  filter: drop-shadow(8px 4px 8px limegreen);
}

.button-cont {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  justify-content: space-evenly;
  font-size: 3rem;
  padding: 2rem;
}

button {
  padding: 1.5rem 3rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  touch-action: manipulation;
}

button:active {
  transform: scale(0.95);
}

.subtract {
  background-color: rgb(200 0 0);
  color: white;
}

.subtract:hover {
  background-color: rgb(180 0 0);
  font-weight: bold;
}

.increment {
  background-color: rgb(0 0 200);
  color: white;
}

.increment:hover {
  background-color: rgb(0 0 150);
  font-weight: bold;
}

.reset-cont {
  text-align: center;
  margin-bottom: 8rem;
}

.reset {
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: rgb(250 250 0);
  font-weight: bold;
}

.reset:hover {
  background-color: rgb(230 230 0);
}